%% -*- erlang -*-
[
 {baseline_sample, [
                    {sup, [
                           {local, baseline_sample_sup},
                           {
                            {one_for_one, 10, 1},
                            [
                             { {baseline_fsm,1},
                               {baseline_fsm,start_link,[[],1]},
                               permanent, 5000, worker,
                               [baseline_server,gen_fsm] },
                             { {baseline_fsm,2},
                               {baseline_fsm,start_link,[[],2]},
                               permanent, 5000, worker,
                               [baseline_server,gen_fsm] },
                             { {baseline_fsm,3},
                               {baseline_fsm,start_link,[[],3]},
                               permanent, 5000, worker,
                               [baseline_server,gen_fsm] }
                            ]
                           }
                          ]},
                    {sup_child, [
                                 { {baseline_server,1},
                                   {baseline_server,start_link,[[],1]},
                                   transient, 5000, worker,
                                   [baseline_server,gen_server] },
                                 { {baseline_server,2},
                                   {baseline_server,start_link,[[],2]},
                                   transient, 5000, worker,
                                   [baseline_server,gen_server] },
                                 { {baseline_server,3},
                                   {baseline_server,start_link,[[],3]},
                                   transient, 5000, worker,
                                   [baseline_server,gen_server] }
                                ]}
                   ]}
].
