%% -*- erlang -*-

 {require_otp_vsn, "R15B03|R16"}.

 {erl_opts, [debug_info]}.

 {ct_log_dir, ".ct"}.
 {ct_extra_params, "-ct_config files/ct/ct.config -cover files/ct/cover.config"}.

 {clean_files, [
                "ebin", "erl_crash.dump",
                ".ct", "test/*.beam"
               ]}.
