%% -*- erlang -*-

 {port_specs, [
               {"x86_64-.*-darwin",
                "priv/lib/baseline_nif.so", [
                                             "c_src/baseline_nif_sample.c",
                                             "c_src/baseline_nif.c"
                                            ]}
              ]}.

 {port_env, [
             %% == gcc ==
            %{"DRV_CFLAGS", "$DRV_CFLAGS -g -Wall -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -std=c99"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -Wextra -Wstrict-prototypes"},
            %{"DRV_CFLAGS", "$DRV_CFLAGS -fno-common"},
             %% == ==
             {"R16B0[2-3].*", "DRV_CFLAGS", "$DRV_CFLAGS -DUSE_DRIVER_ASYNC_PORT_KEY=1"}
            ]}.

%{ct_log_dir, ".ct"}.
%{ct_extra_params, "-ct_config ../../priv/ct/ct.config -cover priv/ct/ct.cover"}.

 {clean_files, [
                "ebin", "erl_crash.dump",
                "priv/lib",
                ".ct", "test/*.beam"
               ]}.
