%% -*- erlang -*-
%% supervisor:which_children(baseline_sample_sup).
[
 {baseline_sample, [
                    {sup_child, [
                                 {
                                   1,
                                   {baseline_server, start_link, [[], 1]},
                                   permanent,
                                   5000,
                                   worker,
                                   []
                                 },
                                 {
                                   2,
                                   {baseline_server, start_link, [[], 2]},
                                   transient,
                                   5000,
                                   worker,
                                   []
                                 },
                                 {
                                   3,
                                   {baseline_server, start_link, [[], 3]},
                                   temporary,
                                   5000,
                                   worker,
                                   []
                                 }
                                ]}
                   ]}
].
