%% -*- erlang -*-
%% supervisor:start_child(baseline_sample_sup, [1]).
%% supervisor:start_child(baseline_sample_sup, [2]).
%% supervisor:start_child(baseline_sample_sup, [3]).
%% supervisor:which_children(baseline_sample_sup).
[
 {baseline_sample, [
                    {sup, [
                           {local, baseline_sample_sup},
                           {
                             {simple_one_for_one, 10, 1},
                             [
                              {
                                undefined,
                                {baseline_server, start_link, [[]]},
                                temporary,
                                5000,
                                worker,
                                []
                              }
                             ]
                           }
                          ]}

                   ]}
].
