%% -*- erlang -*-
%% global:registered_names().
%% global:whereis_name(baseline_sample_sup).
%%
%% global_group:global_groups().
%% global_group:info().
%% global_group:registered_names({node, n3@tendros}).
%% global_group:whereis_name({group, sample}, baseline_sample_sup).
%%
%% supervisor:which_children({global, baseline_sample_sup}).
[
 {kernel, [
           {distributed, [
                          {baseline_sample, [n5@tendros, {n6@tendros, n7@tendros}]}
                         ]},
           {global_groups, [
                            {sample, normal, [n5@tendros, n6@tendros, n7@tendros]}
                           ]},
           {sync_nodes_mandatory, [n6@tendros]},
           {sync_nodes_optional, [n7@tendros]},
           {sync_nodes_timeout, 15000}
          ]},
 {baseline_sample, [
                    {sup, [
                           {global, baseline_sample_sup},
                           {
                             {one_for_one, 3, 5},
                             [
                              {
                                1,
                                {baseline_server, start_link, [[], 1]},
                                permanent,
                                5000,
                                worker,
                                []
                              }
                             ]
                           }
                          ]}
                   ]}
].
