%% -*- erlang -*-
[
 {kernel, [
           {distributed, [
                          {baseline_sample, [n5@tendros, {n6@tendros, n7@tendros}]}
                         ]},
           {global_groups, [
                            {sample, normal, [n5@tendros, n6@tendros, n7@tendros]}
                           ]},
           {sync_nodes_mandatory, []},
           {sync_nodes_optional, [n6@tendros, n7@tendros]},
           {sync_nodes_timeout, 15000}
          ]},
 {baseline_sample, [
                    {sup, [
                           {global, baseline_sample_sup},
                           {
                             {one_for_one, 3, 5},
                             [
                              {
                                1,
                                {baseline_server, start_link, [[], 1]},
                                permanent,
                                5000,
                                worker,
                                []
                              }
                             ]
                           }
                          ]}
                   ]}
].
